#gameBoard {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    gap: 5px;
}

.cell {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
}